
// Mixins usados no Sass
@mixin borda-arredondada($raio: 0.3em) {
  -webkit-border-radius: $raio;
  border-radius: $raio;  
}

%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

// placeholder
// %sombra-padrao {
  //   -webkit-box-shadow: $sombreamento;
  //   box-shadow: $sombreamento;
  // }
  
  
  @function multiplica-pela-fonte($multiplicador) {
    @return round($multiplicador * $tamanho-da-fonte-padrao);
  }
  
  
  /////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Usando o Compass
  @import "compass/css3";
  @import "compass/utilities";