// Variáveis usadas no Sass
$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 0);
$cor-branca: adjust-hue(#fff, 80);
$raio: 0.3em;
$raio-grande: 50px;
$sombreamento: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3); 
$tamanho-da-fonte-padrao: 16px;


//funções de cor
// adjust-hue();
// saturate(); 
// complement();

$mq-mobile: "(max-width: 980px)";